<footer>
    <div class="cpy">
        <br>
        <p>&copy; JSSMVP - All rights reserved.</p>
    </div>
</footer>
<script src="/js/bootstrap.min.js"></script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>