<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSS TAX APP</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/custom.css" rel="stylesheet" >
    <script>
        function calculateSum(){
            const value1 = parseFloat(document.getElementById('dimension-of-vacant-area-in-sqft').value) || 0;
            const value2 = parseFloat(document.getElementById('dimension-of-building-area-in-sqft').value) || 0;
            const sum = value1 + value2;
            document.getElementById('total-dimension').value = sum;
        }

        function calculateTotalAmount(){
            const propertyTax = parseFloat(document.getElementById('property-tax').value) || 0;
            const serviceTax = parseFloat(document.getElementById('service-tax').value) || 0;
            const cesses = parseFloat(document.getElementById('cesses').value) || 0;
            const interest = parseFloat(document.getElementById('interest').value) ||0;
            const penalty_arrears = parseFloat(document.getElementById('penalty-arrears').value) || 0;
            const totalAmount = propertyTax+serviceTax+cesses+interest+penalty_arrears;
            document.getElementById('total-amount').value = totalAmount;

        }
    </script>
</head>
<body>
    <div class="header">
        <img src="JSSMVP_logo.jpeg" alt="Left Logo" style="width: 100px; height: 100px;">
        <div class="header-title">JSS MAHAVIDYAPEETHA PROPERTY TAX REPORT</div>
        <% if (isLoggedIn) { %>
            <% if (isAdmin) { %>
                <h5><span class="badge text-bg-secondary">Logged in as ADMIN</span></h5>
            <% } else if (isDivisionUser){ %>
                <h5><span class="badge text-bg-secondary">Logged in as Division <%= user_details.division %></span></h5>
            <% } else if (isInstitutionUser) {%>
                <h5><span class="badge text-bg-secondary">Logged in as Institution <%= user_details.institution %></span></h5>
            <% } %>
            <a class="btn btn-danger" href="/logout">Logout</a>
        <% } else { %>
            <a class="btn btn-primary" href="/login">Login</a>
        <% } %>
    </div>
    <% if (isLoggedIn) { %>
        <a class="btn btn-outline-primary btn-sm mt-3 mx-3" href="/go_back"> &lt; Go Back</a>
    <% } %>
    <% if (flash_messages) { %>
        <% for (const message_type in flash_messages) { %>
            <% flash_messages[message_type].forEach(function(msg) { %>
                <div class="w-50 mx-auto text-center mt-1">
                    <div class="alert alert-<%= message_type%> alert-dismissible fade show" role="alert">
                        <%= msg %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            <% }); %>
        <% }; %>
    <% } %>
    <div class="p-4">
    