<%- include(`partials/header`) -%>
<button type="submit"><a href="/admindiv" style="color: black;">Division Users</a></button>
<button type="submit"><a href="/adminins" style="color: black;">Institution Users</a></button>
<button type="submit"><a href="/adminsite" style="color: black;">Site Users</a></button>
<button type="submit"><a href="/adminpay" style="color: black;">Payment Details</a></button>
<button type="submit"><a href="/login" style="color: black;">Back</a></button>
<%- include(`partials/footer`) -%>