<%- include(`partials/header`) -%>
<div class="form-container">
    <h2>Welcome admin, <%- user_details.email -%></h2>
    <div class="submit-button"><button><a href="/list_all_division_users">List all Division Users</a></button></div>
    <div class="submit-button"><button><a href="/list_all_institution_users">List all Institution Users</a></button></div>
    <div class="submit-button"><button><a href="/list_all_site_users">List all Site Users</a></button></div>
    <div class="submit-button"><button><a href="/list_all_payment_details">List all Payment Details</a></button></div>
    <div class="submit-button"><button><a href="/comprehensive_report_admin">Generate Comprehensive Report</a></button></div>
    <div class="submit-button"><button><a href="/local_report_admin">Generate Local Report</a></button></div>
</div>
<%- include(`partials/footer`) -%>