<%- include(`partials/header`) -%>
<form action="/choosed_year_admin"  method="post">
    <label for="choosed-year">Choose the Current Year :</label>
    <input id="choosed-year" name="choosed-year" type="number">
    <button type="submit">Submit</button>
</form>
<%- include(`partials/footer`) -%>