<%- include('partials/header'); -%>
<p>Hi Division</p>
<!-- Table stuff -->
<a href="/create_institution_user">Create Institution User</a>
<a href="/create_site_user">Create Site User</a>
<%- include('partials/footer'); -%>