<%- include(`partials/header`) -%>
<div class="form-container">
    <h2>Welcome division, <%- user_details?.division -%></h2>
    <a class="btn btn-primary" href="/list_institution_users_in_division">List Institution Users</a>
    <a class="btn btn-primary" href="/list_site_users_in_division">List Site Users</a>
    <a class="btn btn-primary" href="/list_payment_details_in_division">List Payment Details</a>
    <a class="btn btn-primary" href="/comprehensive_report_division">Generate Comprehensive Report</a>
    <a class="btn btn-primary" href="/local_report_division">Generate Local Report</a>
</div>
<%- include(`partials/footer`) -%>