<%- include(`partials/header`) -%>
<div class="form-container">
    <h2>Welcome division, <%- user_details?.division -%></h2>
    <a class="btn btn-primary" href="/list_division_institution_users">List Institution Users</a>
    <a class="btn btn-primary" href="/list_division_site_users">List Site Users</a>
    <a class="btn btn-primary" href="/list_division_payment_details">List Payment Details</a>
</div>
<%- include(`partials/footer`) -%>