<%- include(`partials/header`); -%>
<form action="/new_site_payment_details" method="post" enctype="multipart/form-data" class="form-container">
    <div class="form-group">
        <label for="site-id">SITE ID :</label>
        <input type="text" id="site-id" name="site-id"
        <% if(site_id) { %>
            value="<%= site_id %>"
            readonly
            class="gray-out"
        <% } %>
        >
    </div> 

    <div class="form-group">
        <label for="assessment-year">ASSESSMENT YEAR :</label>
        <select id="assessment-year" name="assessment-year" required>
            <option value="" selected disabled>Select an Assessment Year</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="payment-year">PAYMENT YEAR :</label>
        <select id="payment-year" name="payment-year" required>
            <option value="" selected disabled>Select a Payment Year</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="receipt-no">RECEIPT NUMBER OR DATE :</label>
        <input type="text" id="receipt-no" name="receipt-no" required>
    </div>


    <div class="form-group">
        <label for="property-tax">PROPERTY TAX :</label>
        <input type="number" id="property-tax" name="property-tax" required>
    </div>

    <div class="form-group">
        <label for="rebate">REBATE :</label>
        <input type="number" id="rebate" name="rebate" required>
    </div>

    <div class="form-group">
        <label for="service-tax">SERVICE TAX :</label>
        <input type="number" id="service-tax" name="service-tax" required>
    </div>

    <div class="form-group">
        <label for="dimension-of-vacant-area-in-sqft">DIMENSION OF VACANT AREA IN SQFT :</label>
        <input type="number" id="dimension-of-vacant-area-in-sqft" name="dimension-of-vacant-area-in-sqft" required>
    </div>

    <div class="form-group">
        <label for="dimension-of-building-area-in-sqft">DIMENSION OF BUILDING AREA IN SQFT :</label>
        <input type="number" id="dimension-of-building-area-in-sqft" name="dimension-of-building-area-in-sqft" required>
    </div>

    <div class="form-group">
        <label for="total-dimension">TOTAL DIMENSION IN SQFT :</label>
        <input type="number" id="total-dimension" name="total-dimension" required>
    </div>

    <div class="form-group">
        <label for="cesses">CESSES :</label>
        <input type="number" id="cesses" name="cesses" required>
    </div>

    <div class="form-group">
        <label for="interest">INTEREST :</label>
        <input type="number" id="interest" name="interest" required>
    </div>

    <div class="form-group">
        <label for="department">To Which Department Paid:</label>
        <select name="department" id="department">
            <option value="BBMP">BBMP</option>
            <option value="MCC">MCC</option>
            <option value="KHB">KHB</option>
            <option value="KIADB">KIADB</option>
            <option value="Nagara-Sabha">Nagara Sabha</option>
            <option value="Grama-Panchayat">Grama Panchayat</option>
            <option value="Pattana-Panchayat">Pattana Panchayat</option>
            <option value="Purasabha">Purasabha</option>
            <option value="MUDA">MUDA</option>
        </select>
    </div>

    <div class="form-group">
        <label for="total-amount">TOTAL AMOUNT</label>
        <input type="number" id="total-amount" name="total-amount" required>
        </div>

    <div class="form-group">
        <label for="remarks">REMARKS</label>
        <input type="text" id="remarks" name="remarks" required>
    </div>    

    <div class="form-group">
    <label for="image">Bill Image (Max size: 5MB, .jpg/.jpeg/.png/.gif):</label>
    <input id="image" type="file" name="image" accept="image/jpeg, image/png, image/gif" required>
    </div>
    
    <button type="submit">Submit</button>
</form>
<script>
    // This script will populate the dropdown with years from 2010 to the current year
    const paymentYear = document.getElementById('payment-year');
    const assessmentYear = document.getElementById('assessment-year');
    const currentYear = new Date().getFullYear();
    for(let i = currentYear; i >= 2010; i--) {
        const option = document.createElement('option');
        option.value = i;
        option.textContent = i;
        paymentYear.appendChild(option);
        assessmentYear.appendChild(option.cloneNode(true));
    };
</script>
<%- include(`partials/footer`); -%>