<%- include(`partials/header`); -%>
<form action="/newpay" method="post">
    <label for="institution-id">INSTITUTION ID :</label>
    <input type="text" id="institution-id" name="institution-id">

    <label for="site-id">SITE ID :</label>
    <input type="text" id="site-id" name="site-id">

    <label for="assessment-year">ASSESSMENT YEAR :</label>
    <input type="number" id="assessment-year" name="assessment-year" required>

    <label for="payment-year">PAYMENT YEAR :</label>
    <input type="number" id="payment-year" name="payment-year" required>

    <label for="receipt-no">RECEIPT NUMBER OR DATE :</label>
    <input type="number" id="receipt-no" name="receipt-no" required>

    <label for="property-tax">PROPERTY TAX :</label>
    <input type="number" id="property-tax" name="property-tax" required>

    <label for="rebate">REBATE :</label>
    <input type="number" id="rebate" name="rebate" required>

    <label for="service-tax">SERVICE TAX :</label>
    <input type="number" id="service-tax" name="service-tax" required>

    <label for="dimension-of-vacant-area-in-sqft">DIMENSION OF VACANT AREA IN SQFT :</label>
    <input type="number" id="dimension-of-vacant-area-in-sqft" name="dimension-of-vacant-area-in-sqft" required>

    <label for="dimension-of-building-area-in-sqft">DIMENSION OF BUILDING AREA IN SQFT :</label>
    <input type="number" id="dimension-of-building-area-in-sqft" name="dimension-of-building-area-in-sqft" required>

    <label for="total-dimension">TOTAL DIMENSION IN SQFT :</label>
    <input type="number" id="total-dimension" name="total-dimension" required>

    <label for="department-paid">TO WHICH DEPARTMENT PAID :</label>
    <input type="text" id="department-paid" name="department-paid" required>

    <label for="cesses">CESSES :</label>
    <input type="number" id="cesses" name="cesses" required>

    <label for="interest">INTEREST :</label>
    <input type="number" id="interest" name="interest" required>

    <label for="total-amount">TOTAL AMOUNT</label>
    <input type="number" id="total-amount" name="total-amount" required>

    <label for="remarks">REMARKS</label>
    <input type="text" id="remarks" name="remarks" required>

    <label for="image">Bill Image (Max size: 5MB, .jpg/.jpeg/.png/.gif):</label>
    <input id="image" type="file" name="image" accept="image/jpeg, image/png, image/gif">
    
    <button type="submit">Submit</button>
</form>
<%- include(`partials/footer`); -%>