<%- include(`partials/header`); -%>
<form action="/newdiv" method="post">
    <label for="division-id">Division ID :</label>
    <input type="text" id="division-id" name="division-id" required>

    <label for="division">Division :</label>
    <input type="text" id="division" name="division" required>

    <label for="email">Email :</label>
    <input type="text" id="email" name="email" required>

    <label for="password">Password :</label>
    <input type="text" id="password" name="password" required>

    <label for="phone">Phone :</label>
    <input type="tel" id="phone" name="phone" required>

    <button type="submit">Submit</button>
</form>
<%- include(`partials/footer`); -%>