<%- include(`partials/header`) -%>
<div class="form-container">
    <h2>Welcome site, <%- user_details?.site -%></h2>
    <a class="btn btn-primary" href="/list_payment_details_in_site">List Payment Details</a>
    <a class="btn btn-primary" href="/comprehensive_report_site">Generate Comprehensive Report</a>
    <a class="btn btn-primary" href="/local_report_site">Generate Local Report</a>
</div>
<%- include(`partials/footer`) -%>